<div class="jumbotron col-4 offset-4">
    <div class="content-fluid">
        <div class="form-group">
            <h4 class="mat-h1">Sign in <i class="fa fa-user"></i></h4>
        </div>
        <mat-divider class="mb-3"></mat-divider>
        <mat-form-field class="form-group">
            <mat-label for="username">Username</mat-label>
            <input matInput type="text" id="username" required [(ngModel)]="credentials.username" name="username"
                #username="ngModel">
            <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                <div *ngIf="username.errors.required">
                    Userame is required.
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label for="password">Password</mat-label>
            <input matInput type="password" id="password" required [(ngModel)]="credentials.password" name="password"
                #password="ngModel">
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>
            </mat-error>
        </mat-form-field>
        <mat-error class="alert alert-danger" role="alert" *ngIf="error">Login failed! Could not log you in with those credentials!</mat-error>
        <div class="mt-4">
            <button mat-raised-button color="primary" class="btn btn-lg btn-info btn-circle"
                (click)="onSubmit()">Login</button>
        </div>
    </div>
</div>