<div>
    <h1>Shopping Cart <i class="fa fa-shopping-cart"></i></h1>
    <a [routerLink]="['/products']"><button type="button" class="btn btn-sm btn-secondary btn-circle sm-2"><i class="fa fa-arrow-left"></i> Return</button></a>
    <div class="float-right"><button type="button" class="btn btn-lg btn-info btn-circle mr-2">Checkout</button></div>
</div>

<table class="table table-hover mt-5">
        <thead>
            <tr class="thead-dark">
                <th>Category</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productHeader of productHeaders">
                <td>{{ productHeader.category }}</td>
                <td>{{ productHeader.name }}</td>
                <td>{{ productHeader.price }}</td>
                <td><i class="fas fa-caret-left"></i> 5 <i class="fas fa-caret-right"></i></td>
            </tr>
        </tbody>
    </table>