<div class="container">
    <mat-form-field class="form-group">
        <mat-label for="name">Name</mat-label>
        <input matInput type="text" id="name" required minlength="4" [(ngModel)]="product.name" name="name"
            #name="ngModel">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
                Name must be at least 4 characters long.
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label for="category">Category</mat-label>
        <input matInput type="text" id="category" required [(ngModel)]="product.category" name="category"
            #category="ngModel">
        <mat-error *ngIf="category.invalid && (category.dirty || category.touched)">
            <div *ngIf="category.errors.required">
                Category is required.
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label for="image">Image</mat-label>
        <input matInput type="text" id="image" required
            pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
            [(ngModel)]="product.image" name="image" #image="ngModel">
        <mat-error *ngIf="image.invalid && (image.dirty || image.touched)">
            <div *ngIf="image.errors.required">
                Image is required.
            </div>
            <div *ngIf="image.errors.pattern">
                Invalid image link given.
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label for="price">Price</mat-label>
        <input matInput type="text" id="price" required min="0" pattern="^[0-9]*$" [(ngModel)]="product.price"
            name="price" #price="ngModel">
        <mat-error *ngIf="price.invalid && (price.dirty || price.touched)">
            <div *ngIf="price.errors.required">
                Price is required.
            </div>
            <div *ngIf="price.errors.min">
                Price must be positive (above 0).
            </div>
            <div *ngIf="price.errors.pattern">
                Price must be a number.
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label for="description">Description</mat-label>
        <textarea matInput id="description" [(ngModel)]="product.description" name="description" #description="ngModel">
        </textarea>
    </mat-form-field>

    <div class="mt-4">
        <a routerLink=".."><button mat-raised-button color="basic">Cancel</button></a>
        <button mat-raised-button color="primary" (click)="doSave()">Save</button>
    </div>
</div>